
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">글 상세보기</h1>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Checkout Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label th:for="title">제목</label>
                            <input id="title" name="title" th:feild="${postDetail.title}" th:value="${postDetail.title}"  class="form-control" type="text" placeholder="제목" readonly />
                        </div>
                        <div class="col-md-6 form-group">
                            <label th:for="content">내용</label>
                            <input name="content" class="form-control" type="text" th:value="${postDetail.content}" readonly>
                        </div>
                        <div class="col-md-6 form-group">
                            <label th:for="category">카테고리</label>
                            <input name="category" class="form-control" type="text" th:value="${postDetail.category}" readonly>
                        </div>

                    </div>
                </div>
                <hr>
<!--                <div class="mb-4">-->
<!--                    <div class="row">-->
                        <div th:each="review : ${postDetail.replyDtoSet}">
                            <div class="col-md-6 form-group">
                                <input name="userName" th:feild="${review.userName}" th:value="${review.userName}"  class="form-control" type="text" placeholder="userName" readonly />
                            </div>
                            <div class="col-md-6 form-group">
                                <input name="date" th:feild="${review.localDateTime}" th:value="${review.localDateTime}"  class="form-control" type="text" placeholder="dateTime" readonly />
                            </div>
                            <div class="col-md-6 form-group">
                                <label th:for="content2">내용</label>
                                <input id="content2" name="content" th:feild="${review.content}" th:value="${review.content}"  class="form-control" type="text" placeholder="내용" readonly />
                            </div>
                            <div th:if="${postDetail.userEmail} == ${review.userEmail}">
                                <form th:action="@{/replies/delete/{replyId} (replyId=${review.replyId})}" th:object="${replyDto}" method="post">
                                    <input type="hidden" name="postId" th:value="${postDetail.postId}" />
                                    <button class="btn btn-primary px-3 auth" type="submit">삭제 </button>
                                </form>
                            </div>
                            <hr>
                        </div>
<!--                    </div>-->
<!--                </div>-->
<!--                <hr>-->
<!--                <div class="mb-4">-->
<!--                    <div class="row">-->
                    <!--/*@thymesVar id="replyDto" type="com.shopping.dessert.dto.ReplyDto"*/-->
                        <form th:action="@{/replies/add}" th:object="${replyDto}" method="post">
                            <input type="hidden" name="postId" th:value="${postDetail.postId}" />
                            <div class="col-md-6 form-group">
                                <label th:for="content">내용</label>
                                <input id="content" name="content" th:feild="*{content}" class="form-control" type="text" placeholder="내용..." />
                            </div>
                            <button class="btn btn-primary px-3 auth" type="submit">리뷰 남기기 </button>
                        </form>
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
    <!-- Checkout End -->

</div>

</html>