
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">


<div layout:fragment="content">
    <!-- Checkout Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4 text-center">
                    <h4 class="font-weight-semi-bold mb-4">글 수정</h4>
                    <div class="text-center">
                        <!--/*@thymesVar id="productAddForm" type="com.shopping.dessert.dto.ProductDto.Request.ProductAddForm"*/-->
                        <!--/*@thymesVar id="name" type="String"*/-->
                        <form th:action="@{/posts/update/{postId} (postId=${postId})}" th:object="${postUpdateForm}" method="post">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <div class="col-md-6 form-group">
                                <label th:for="title">제목</label>
                                <input id="title" name="title" th:feild="*{title}" th:value="*{title}"  class="form-control" type="text" placeholder="제목" />
                                <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title error</span>
                            </div>
                            <div class="col-md-6 form-group">
                                <label th:for="content">내용</label>
                                <input id="content" name="content" th:feild="*{content}" th:value="*{content}" class="form-control" type="text" placeholder="글 내용">
                                <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}">content error</span>
                            </div>
                            <div class="col-md-6 form-group">
                                <label th:for="category">카테고리</label>
                                <div class="form-group">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="category" id="review" value="review">
                                        <label class="custom-control-label" for="review">리뷰</label>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="category" id="QnA" value="QnA">
                                        <label class="custom-control-label" for="QnA">Q&A</label>
                                    </div>
                                </div>
                                <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}">category error</span>
                            </div>
                            <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3 form-control" type="submit">글 수정하기</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Checkout End -->

    </div>
</html>