
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">


<div layout:fragment="content">
    <!-- Checkout Start -->
    <div class="container-fluid pt-5 ">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">개인정보 입력</h4>
                        <div class="row">
                            <!--/*@thymesVar id="registerForm" type="com.shopping.dessert.dto.UserDto.Request.Register"*/-->
                            <!--/*@thymesVar id="name" type="String"*/-->
                            <form th:action="@{/users/register}" th:object="${registerForm}" method="post">
                                <div class="col-md-6 form-group">
                                    <label for="name">이름</label>
                                    <input id="name" th:feild="*{name}" class="form-control" type="text" placeholder="이름">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="password">비밀번호</label>
                                    <input id="password" th:feild="*{password}" class="form-control" type="text" placeholder="Doe">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>비밀번호 확인</label>
                                    <input class="form-control" type="text" placeholder="Doe">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>이메일</label>
                                    <input class="form-control" type="text" placeholder="example@email.com">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>핸드폰 번호</label>
                                    <input class="form-control" type="text" placeholder="+123 456 789">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>주소</label>
                                    <input class="form-control" type="text" placeholder="123 Street">
                                </div>
                                <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3 form-control" id="btn_register">가입하기</button>
                            </form>
                        </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->

</div>
</html>